<h1><%= @note.title %></h1>

<p><%= @note.body %></p>

<ul>
  <li><%= link_to "Edit", edit_note_path(@note) %></li>
  <li><%= link_to "Destroy", note_path(@note), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>